# Changes here will be overwritten by Copier; NEVER EDIT MANUALLY.
# Records the answers + template ref so `copier update` (D-05) can pull template fixes
# into this project as reviewable diffs. Commit this file.
{{ _copier_answers|to_nice_yaml }}
